<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>listas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <h1 th:text="${title}">Listas</h1>

    <h3>Lista de Productos</h3>
    <table border="1">
        <thead>
        <tr>
            <th>ID Producto</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Marca</th>
            <th>Precio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto : ${productos}">
            <td th:text="${producto.idProducto}"></td>
            <td th:text="${producto.nombre}"></td>
            <td th:text="${producto.descripcion}"></td>
            <td th:text="${producto.marca}"></td>
            <td th:text="${producto.precio}"></td>
        </tr>
        </tbody>
    </table>

    <h3>Lista de Clientes</h3>
    <table border="1">
        <thead>
        <tr>
            <th>Número de Cliente</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Domicilio</th>
            <th>Teléfono</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.nroCliente}"></td>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.apellido}"></td>
            <td th:text="${cliente.domicilio}"></td>
            <td th:text="${cliente.telefono}"></td>
            <td th:text="${cliente.email}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>