<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ejercicio 1 - clase 8</title>
<!--    <link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
</head>
<body>
    <h1 th:text="${titulo}">asd</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        </thead>
        <tbody>
         <tr th:each="usuario:${usuarios}">
             <td th:text="${usuario.idUsuario}"></td>
             <td th:text="${usuario.nombre}"></td>
             <td th:text="${usuario.apellido}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>